/.vs

/obj
obj
QuanLyNhaHangClient-master/QuanLyBanHangClient/bin/Debug/itextsharp.xml
QuanLyNhaHangClient-master/QuanLyBanHangClient/bin/Debug/System.Windows.Controls.DataVisualization.Toolkit.xml
QuanLyNhaHangClient-master/QuanLyBanHangClient/bin/Debug/System.Windows.Controls.DataVisualization.Toolkit.dll
QuanLyNhaHangClient-master/QuanLyBanHangClient/bin/Debug/QuanLyBanHangClient.pdb
QuanLyNhaHangClient-master/QuanLyBanHangClient/bin/Debug/QuanLyBanHangClient.exe.config
QuanLyNhaHangClient-master/QuanLyBanHangClient/bin/Debug/QuanLyBanHangClient.exe
QuanLyNhaHangClient-master/QuanLyBanHangClient/bin/Debug/Newtonsoft.Json.xml
QuanLyNhaHangClient-master/QuanLyBanHangClient/bin/Debug/Newtonsoft.Json.dll
QuanLyNhaHangClient-master/QuanLyBanHangClient/bin/Debug/itextsharp.dll
QuanLyNhaHangClient-master/QuanLyBanHangClient/QuanLyBanHangClient.csproj.user
QuanLyNhaHangClient-master/.vs/QuanLyBanHangClient/v15/Server/sqlite3/storage.ide
QuanLyNhaHangClient-master/.vs/QuanLyBanHangClient/v15/.suo
QuanLyNhaHangClient-master/.vs/QuanLyBanHangClient/v15/Server/sqlite3/storage.ide-wal
QuanLyNhaHangClient-master/.vs/QuanLyBanHangClient/v15/Server/sqlite3/storage.ide-shm
QuanLyNhaHangClient-master/packages/MahApps.Metro.1.6.5/lib/net47/MahApps.Metro.xml
QuanLyNhaHangClient-master/packages/MahApps.Metro.1.6.5/lib/net47/MahApps.Metro.pdb
QuanLyNhaHangClient-master/packages/MahApps.Metro.1.6.5/lib/net47/MahApps.Metro.dll
QuanLyNhaHangClient-master/packages/MahApps.Metro.1.6.5/lib/net46/MahApps.Metro.xml
QuanLyNhaHangClient-master/packages/MahApps.Metro.1.6.5/lib/net46/MahApps.Metro.pdb
QuanLyNhaHangClient-master/packages/MahApps.Metro.1.6.5/lib/net46/MahApps.Metro.dll
QuanLyNhaHangClient-master/packages/MahApps.Metro.1.6.5/lib/net45/MahApps.Metro.xml
QuanLyNhaHangClient-master/packages/MahApps.Metro.1.6.5/lib/net45/MahApps.Metro.pdb
QuanLyNhaHangClient-master/packages/MahApps.Metro.1.6.5/lib/net45/MahApps.Metro.dll
QuanLyNhaHangClient-master/packages/MahApps.Metro.1.6.5/lib/net40/MahApps.Metro.xml
QuanLyNhaHangClient-master/packages/MahApps.Metro.1.6.5/lib/net40/MahApps.Metro.pdb
QuanLyNhaHangClient-master/packages/MahApps.Metro.1.6.5/lib/net40/MahApps.Metro.dll
QuanLyNhaHangClient-master/packages/MahApps.Metro.1.6.5/MahApps.Metro.1.6.5.nupkg
QuanLyNhaHangClient-master/packages/MahApps.Metro.1.6.5/.signature.p7s
QuanLyNhaHangClient-master/packages/ControlzEx.3.0.2.4/lib/net462/System.Windows.Interactivity.dll
QuanLyNhaHangClient-master/packages/ControlzEx.3.0.2.4/lib/net462/ControlzEx.pdb
QuanLyNhaHangClient-master/packages/ControlzEx.3.0.2.4/lib/net462/ControlzEx.dll
QuanLyNhaHangClient-master/packages/ControlzEx.3.0.2.4/lib/net45/System.Windows.Interactivity.dll
QuanLyNhaHangClient-master/packages/ControlzEx.3.0.2.4/lib/net45/ControlzEx.pdb
QuanLyNhaHangClient-master/packages/ControlzEx.3.0.2.4/lib/net45/ControlzEx.dll
QuanLyNhaHangClient-master/packages/ControlzEx.3.0.2.4/lib/net40/System.Windows.Interactivity.dll
QuanLyNhaHangClient-master/packages/ControlzEx.3.0.2.4/lib/net40/ControlzEx.pdb
QuanLyNhaHangClient-master/packages/ControlzEx.3.0.2.4/lib/net40/ControlzEx.dll
QuanLyNhaHangClient-master/packages/ControlzEx.3.0.2.4/ControlzEx.3.0.2.4.nupkg
QuanLyNhaHangClient-master/packages/ControlzEx.3.0.2.4/.signature.p7s
QuanLyNhaHangClient-master/QuanLyBanHangClient/bin/Debug/System.Windows.Interactivity.dll
QuanLyNhaHangClient-master/QuanLyBanHangClient/bin/Debug/MahApps.Metro.xml
QuanLyNhaHangClient-master/QuanLyBanHangClient/bin/Debug/MahApps.Metro.pdb
QuanLyNhaHangClient-master/QuanLyBanHangClient/bin/Debug/MahApps.Metro.dll
QuanLyNhaHangClient-master/QuanLyBanHangClient/bin/Debug/ControlzEx.pdb
QuanLyNhaHangClient-master/QuanLyBanHangClient/bin/Debug/ControlzEx.dll
